.toparea{
    background-image:url('bgimg.png');
    color:white;
    padding-bottom:300px;
    text-align: center;
    bottom:80%;
}
.toprow{
    margin-top:10px;
}
.toparea h2{
    margin:30px;
}
.xyz a{
    text-decoration: none;
    color:white;
}
.toparea .abc{
    margin-top:30px;
    padding:15px 30px;
    background:rgba(9, 171, 98, 0.288);
    border-radius:8%;
}
.searcharea{
    width:100%;
    background-image:url('searchimg.png');
    padding:100px;
    text-align:center;
}
.imgarea1{
    width:100%;
    padding:30px;
    text-align: center;
    /* overflow: hidden; */

}
.imgarea1 .imgbox1{
    width:100%;
    position:relative;
    /* border:2px solid red; */
    overflow:hidden;
    margin:15px;
}

.imgarea1 .imgbox1 img{
    width:100%;
    height:100%;
    /* padding:10px; */
}
.imgarea1 .imgbox1 .imgtext{
    width:100%;
    position: absolute;
    bottom: -200px;
    text-align: center;
    color:white;
    transition: all 2s;
    background:linear-gradient(to bottom , black ,transparent);
}

.imgbox1:hover .imgtext{
    bottom:0;
}
.imgarea2{
    width:100%;
    border:solid 4px red;
}

.imgarea2 img{
    width:100%;
    height:100%;
    border-radius:5%;
    /* margin:15px; */
    border:solid 2px red;
}

.lastsection{
    padding:5%;
    background:white;
    position: relative;
}
.lastsection img{
    width:100%;
}


.imgbox{
    width:80%;
    position:absolute;
    top:30%;
    right:10%;
    color:white;
    text-align: center;
    text-decoration:none;
}

.imgbox a{
    color:white;
    text-decoration:none;
}
.footerarea{
    padding:50px;
    background:#014B40;
    color:white;
}

.footerarea ul li {
    text-decoration:none;
    list-style: none;
}
.footerarea a{
    text-decoration: none;
    color:white;
}


#email{
    padding:10px;
    background:rgb(17, 141, 118);
    border-radius:5%;
}

#email img{
    padding:10px;
    background:rgb(11, 49, 49);
    margin-left:35%;
    border-radius:5%;
}

.lastrow{
    width:100%;
    background:red;
    text-align: center;
}
